<!DOCTYPE html>
<html>
  <head>
    <title>Image Resizer</title>

    <link rel="stylesheet" type="text/css" href="./resize.css">
  </head>
  <body>
    <h1>Sorry. This Page Couldn't Be Found.</h1>
   </body>
</html>
