<!DOCTYPE html>
<html>
  <head>
    <title>Image Resizer</title>

    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="./resize.css">
  </head>
  <body>
    <h1><%=@error%></h1>
   </body>
</html>
