<!DOCTYPE html>
<html>
  <head>
    <title>Image Resizer</title>

    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="./resize.css">
  </head>
  <body>
    <h1>Image Resizer</h1>

    <div id="main_form">
      <form action="/" method="post">

        <p class="image_url">
        <input type="text" name="image_url" id="image_url"/><br>
        <label for="image_url">Image Url</label>
        </p>

        <p class = "width" >
        <input type="text" name="width" id="width"/><br>
        <label for="width">Width</label>
        </p>

        <p class = "height">
        <input type="text" name="height" id="height"/><br>
        <label for="height">Height</label>
        </p>

        <p class = "submit">
        <input type="submit" value="Submit"/>
        </p>

      </form>
    </div>

  </body>
</html>
